.skin-purple a{color: #605ca8;}

.skin-purple .main-header .navbar {
  background-color: #605ca8;
}
.skin-purple .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-purple .main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
.skin-purple .main-header .navbar .navbar-right > li > a {
  border-left: 1px solid #605ca8;
  border-right-width: 0;
}
.skin-purple .main-header .navbar .nav > li > a:hover,
.skin-purple .main-header .navbar .nav > li > a:active,
.skin-purple .main-header .navbar .nav > li > a:focus,
.skin-purple .main-header .navbar .nav .open > a,
.skin-purple .main-header .navbar .nav .open > a:hover,
.skin-purple .main-header .navbar .nav .open > a:focus,
.skin-purple .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-purple .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-purple .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-purple .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-purple .main-header .navbar .sidebar-toggle:hover {
  background-color: #555299;
}
@media (max-width: 767px) {
  .skin-purple .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-purple .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-purple .main-header .navbar .dropdown-menu li a:hover {
    background: #555299;
  }
}
.skin-purple .main-header .logo {
  background-color: #555299;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-purple .main-header .logo:hover {
  background-color: #545096;
}
.skin-purple .main-header li.user-header {
  background-color: #605ca8;
}
.skin-purple .content-header {
  background: transparent;
}
.skin-purple .wrapper,
.skin-purple .main-sidebar,
.skin-purple .left-side {
  background-color: #d1d1f0;
}
.skin-purple .user-panel > .info,
.skin-purple .user-panel > .info > a {
  color: #fff;
}
.skin-purple .sidebar-menu > li.header {
  color: #000;
  background: #716f9b;
}
.skin-purple .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-purple .sidebar-menu > li:hover > a,
.skin-purple .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #555299;
  border-left-color: #605ca8;
}
.skin-purple .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #e3e2f2;
}
.skin-purple .sidebar a {
  color: #000;
}
.skin-purple .sidebar a:hover {
  text-decoration: none;
}
.skin-purple .treeview-menu > li > a {
  color: #000;
}
.skin-purple .treeview-menu > li.active > a,
.skin-purple .treeview-menu > li > a:hover {
  color: #000;
  background: #b8b6d5;
}
.skin-purple .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-purple .sidebar-form input[type="text"],
.skin-purple .sidebar-form .btn {
  box-shadow: none;
  background-color: #e4e9ed;
  border: 1px solid transparent;
  height: 35px;
}
.skin-purple .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-purple .sidebar-form input[type="text"]:focus,
.skin-purple .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-purple .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-purple .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-purple .layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-purple.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}
.skin-purple .box .username a{
	color:#605ca8;
}
.skin-purple .box {
    border-top: 3px solid #605ca8;
}
.skin-purple .box.box-primary {
    border-top-color: #605ca8;
}
.skin-purple .nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #605ca8;
}
.skin-purple .btn-primary {
    background-color: #6562c6;
    border-color: #367fa9;
	color: #fff;
}
.skin-purple .btn-info {
    background-color: #403ba4;
    border-color: #414242;
	color: #fff;
}
.skin-purple .bg-primary {
    color: #fff;
    background-color: #605ca8;
}
.skin-purple .bg-light-blue-gradient {
  background: #605ca8 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #605ca8), color-stop(1, #9491c4)) !important;
  background: -ms-linear-gradient(bottom, #605ca8, #9491c4) !important;
  background: -moz-linear-gradient(center bottom, #605ca8 0%, #9491c4 100%) !important;
  background: -o-linear-gradient(#9491c4, #605ca8) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9491c4', endColorstr='#605ca8', GradientType=0) !important;
  color: #fff;
}
.skin-purple .products-list .product-title {
    font-weight: 300;
	color: #605ca8;
}

 /*Gradients*/
.skin-purple .chat-bg-gradient{background-image: linear-gradient(to bottom, #fff, #fff 25%, #e0dff9  45%, #e0dff9  100%);} 
.skin-purple .navtab-bg-gradient{background-image: linear-gradient(to right, #fff, #fff 25%, #e0dff9  45%, #e0dff9  100%);} 
.skin-purple .frnd-fllw-bg-gradient{background-image: linear-gradient(to right, #e0dff9 , #e0dff9 25%, #fff 45%, #e0dff9 100%);} 

.skin-purple .content-wrapper,.skin-purple .right-side {
    min-height: 100%;
    background-color: #e0dff9;
    z-index: 800;
}
.skin-purple .direct-chat-primary .right > .direct-chat-text {
    background: #6b67ae;
    border-color: #555299;
    color: #ffffff;
}
.skin-purple .direct-chat-primary .right > .direct-chat-text::after,.skin-purple .direct-chat-primary .right > .direct-chat-text::before {
    border-left-color: #555299;
}
.skin-purple .color-raven {width: auto;height: auto;color: #fff;background: linear-gradient(-45deg, #2d2d32, #605CA8, #1d1a54, #555299);background-size: 400% 400%;-webkit-animation: Grad 15s ease infinite;-moz-animation: Grad 15s ease infinite;animation: Grad 15s ease infinite;}

